<div class="chat-container" (click)="onClick()" id="{{chat.id}}" 
    [ngClass]="{'active': userService.selectedChat.value.id === chat.id}">
    <div class="d-flex p-1 m-1">
        <div class="chat-photo">
            <img src="{{displayedImageUrl}}" alt="chatPhoto" 
           />
        </div>
        <div class="row-container">   
            <p class="sender-text">{{displayedGroupName}}</p>
            <div class="row-subtitle" *ngIf="chat.messages && chat.messages.length !== 0">
                <div class="subtitle-info">
                    <span class="sender-text">
                        {{chat.messages[chat.messages.length - 1].sender.user.name}}:
                    </span>
                    {{chat.messages[chat.messages.length - 1].text}}
                </div>
                <div *ngIf="getUnreadMessage(chat.members) !== undefined &&
                getUnreadMessage(chat.members) > 0" 
                [ngClass]="{'subtitle-unread-messages': getUnreadMessage(chat.members) !== undefined &&
                userService.selectedChat.value.id !== chat.id}"
                [ngClass]="{'subtitle-unread-messages-active':getUnreadMessage(chat.members) !== undefined &&
                 userService.selectedChat.value.id === chat.id}">
                 {{getUnreadMessage(chat.members)}}
                </div>
            </div>
        </div>
    </div>
</div>


