img{
    clip-path: circle();
    height: 50px;
    width: 50px;
}

.chat-container{
    width:50vh;
    white-space: nowrap;
    position: relative;
    overflow-x: hidden;
    border-radius: 10px;
    margin:2px;
}
.chat-photo{
    align-self: center;
    margin-right: 10px;
}

.chat-container:hover{
    cursor:pointer;
    background-color:cornsilk;
}

.active{
    background-color: #61a9f1;
}

.active:hover{
    background-color: #61a9f1;
}

.text{
    text-overflow:ellipsis;
    white-space: nowrap;
}
.subtitle-info{
    display: flex;
    width: 250px;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.row-subtitle{
    display: flex;
    position: relative;
    justify-content: space-between;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.row-container{
    width: 90%;
}

.subtitle-unread-messages, .subtitle-unread-messages-active{
    border-radius: 40%;
    font-size: 14px;
    padding: 3px;
    font-weight:500;
}

.subtitle-unread-messages{
    color:white;
    background-color: gray;
}

.subtitle-unread-messages-active{
    color:#61a9f1;
    background-color: white;
}

.sender-text{
    font-weight: 400;
}