
.chat-list-container{
    height: 100vh;
    border-right:2px solid black;
    width:auto;
}

.chat-container{
    position: relative;
}

.search{
    width:100%;
    border-radius: 17px;
}

.scroll-hidden{
    overflow-y: hidden;
}

.menu-button{
   border:0;
   background-color:white;
   padding-top: 4px;
    margin-right: 3px;

}
.overlay{
    position: absolute;
    z-index: 9;
    top:0;
    right:0;
}

.chat-list_header{
    position: sticky;
    padding: 10px;
     top:0; 
    z-index:10;
    display:flex;
    margin:0;
    border-bottom:2px solid lightgray;
}

.chats{
    overflow-y: scroll;
    height: 89vh;
}