.messages-container{
    height:82vh;
    width: 60%;
    min-width: 600px;
    position: relative;
    overflow-y:scroll;
}

.message-list{
    align-self: center;
    position:relative;
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
}
.center-label{
    text-align: center;
}

.input-message{
    margin-bottom: 2%;
   
}

.message-send{
    width: 40%;
}

.icon{
    margin-left: 10px;
    margin-right: 10px;
}
body{
    height: 100%;
    margin:0;
    padding:0;
    overflow: hidden;
}
.message-input-container{
    position: absolute;
    transform: translate(-50%, 50%);
    left:50%;
    width: 60%;
    bottom: -9%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    background-color: transparent;
}

.message-input{
    width: 100%;
    border-radius: 15px;
    padding:12px;
    resize: none;
}

.replied-message-text{
    white-space: nowrap;
    max-width: 80%;
    padding-right: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.replied-message{
    background-color: white;
    border-radius: 10px 10px 0 0;
    font-size: 13px;
    padding: 3px;
}

.replied-from{
    font-size:small;
     font-weight:bold;
     margin:0px
}

.last-read{
    text-align: center;
    font-size:15px;
    font-weight: 500;
    background-color: white;
    color: #61a9f1;   
}