
<div class="d-flex" *ngIf="userService.currentUser" >
    <app-chat-list [chats]="userService.chats"></app-chat-list>
    
    <div style="flex-grow:1" >
        <app-chat-info *ngIf="userService.chats && userService.chats.length > 0" 
            (clickedEventEmmiter)="openChatDetailsHandler()" ></app-chat-info>
        <app-messages-list *ngIf="userService.chats && userService.chats.length > 0"
            [messages]="userService.selectedChat.messages"
            ></app-messages-list>
        <app-empty-chat-list *ngIf="!userService.chats || userService.chats.length === 0"></app-empty-chat-list>
    </div>
    
    <div>
        <app-chat-details *ngIf="openChatDetails"></app-chat-details>
    </div>
</div>