<div class="d-flex chat-info border-bottom" (click)="onClick()">
    <div class="m-2">
        <img src="{{userService.selectedChatPhotoUrl}}" alt="chat-photo"/>

    </div>
    <div class="d-flex flex-column justify-content-between">
        <p style="margin:0">{{userService.selectedChatName}}</p>
        <div *ngIf="userService.selectedChat.value.isGroup && userService.selectedChat.value.usersOnlineIds">
            {{userService.selectedChat.value.members.length}} members,
            {{userService.selectedChat.value.usersOnlineIds.length}} online
        </div>
        <div *ngIf="!userService.selectedChat.value.isGroup && userService.selectedChat.value.usersOnlineIds">
            {{isPrivateUserOnline()}}
        </div>
    </div>
</div>
