<div *ngIf="userService.selectedChat" class="d-flex chat-info border-bottom" (click)="onClick()">
    <div class="m-2">
        <img src="{{userService.selectedChatPhotoUrl}}" alt="chat-photo"/>

    </div>
    <div class="d-flex flex-column justify-content-between">
        <p style="margin:0">{{userService.selectedChatName}}</p>
        <div *ngIf="(userService.selectedChat?.isGroup === undefined ||
        userService.selectedChat?.isGroup) && userService.selectedChat?.usersOnlineIds">
            {{userService.selectedChat.members.length}} members,
            {{userService.selectedChat.usersOnlineIds.length}} online
        </div>
        <div *ngIf="!userService.selectedChat?.isGroup && userService.selectedChat?.usersOnlineIds">
            {{isPrivateUserOnline()}}
        </div>
    </div>
</div>
