
  <div class="modal-body">
    <div>
        <div class="bottom-margin">
            <p class="add">Who would you like to add?</p>
        </div>
        <div class="scroll">
            <div *ngFor="let contact of contacts" class="d-flex group justify-content-between"
            (click)="onAddMemberClicked(contact)" >
                <div class="d-flex">
                    <div>
                        <img src="{{contact.profilePhotoUrl}}" alt="user photo" class="user-img">
                    </div>
                    <div>{{contact.name}}</div>
                </div>
    
                <div class="d-flex" *ngIf="selectedMembers[contact.id]">
                    <mat-icon class="left" >check_circle</mat-icon>
                </div>
            </div>
        </div>
        <button [disabled]="membersToAdd.length <= 0" class="btn btn-success" (click)="onAddClick()">Add</button>
    </div>
  </div>
